main {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-image: url("../imgs/mesa.png"), url("../imgs/personagem.png"), url("../imgs/fundo-livros.jpg");
    background-repeat: repeat, no-repeat, repeat;
    background-position: bottom, center, center;
    background-size: contain, 27%, auto;
    overflow: hidden;
}


#menu, #falas, #config {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#menu {
    display: grid; 
    grid-template-columns: 0.75fr 0.75fr 1.5fr; 
    grid-template-rows: 1.4fr 0.5fr 1.1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "titulo titulo ."
      "titulo titulo ."
      "start start start"; 

}

#historia, #config {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#historia article {
    height: auto;
    width: 60vw;
    background-color: var(--cor-fundo-caixas);
    border-radius: 2.5rem;
    font-size: large;
    font-family: var(--font-textos);
}

#historia h2 {
    margin: 4vw 0 3vw;
}

#historia p {
    /* line-height: 2rem; */
    margin: 0 10vh 1.5vw;
    text-align: justify;
    font-size: 3.5vh;
}

#titulo {
    grid-area: titulo;
    background-color: transparent;
}

#titulo h1 {
    color: var(--cor-texto-especial);
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Caveat', cursive;
    font-size: 10vh;
    background-color: var(--cor-fundo-caixas);
    border-radius: 2.5rem;
    display: inline-block;
    padding: 0.5rem 2rem;
}


#start { 
    grid-area: start;
    margin-left: auto;
    margin-right: auto;
}

#start {
    margin: auto;
    height: 15vh;
    width: 20vw;
    padding: 2vw;
    background-color: transparent;
}

#start button, #next {
    padding: 0 4rem;
    border: 0;
    border-radius: 1rem;
    background-color: var(--cor-botao);
    cursor: pointer;
}

#historia #next {
    height: 2rem;
    margin: 1rem;
}

#historia #next h2 {
    margin: 0;
}

#start button:active {
    background-color: var(--cor-botao-ativo);
}

#falas {
    display: grid; 
    grid-template-columns: 0.7fr 1.6fr 0.7fr; 
    grid-template-rows: 1fr 1.1fr 0.9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". falas ."; 
}

#falas div {
    max-height: 22vh;
    min-height: 17vh;
    grid-area: falas;
    background-color: var(--cor-fundo-caixas);
    border-radius: 1.5rem;
    font-size: large;
    font-family: var(--font-textos);
    position: relative;
}

#falas button {
    position: absolute;
    right: 2rem;
    padding: .1rem .4rem;
    bottom: 1.5rem;
    border: 0;
    border-radius: 8px;
    background-color: var(--cor-botao);
    cursor: pointer;
}

#falas p {
    margin: 2rem;
    text-align: justify;
}

#config article {
    height: auto;
    padding: 2rem;
    width: 40vw;
    background-color: var(--cor-fundo-caixas);
    border-radius: 2.5rem;
    font-size: large;
    font-family: var(--font-textos);
}

#config p {
    margin: 2rem;
    text-align: justify;
}

#config p:last-of-type {
    margin: .5rem 2rem;
}

#config label {
    display: inline-block;
    text-align: left;
    width: 80%;
    margin: 1rem 4rem;
}

#config input {
    width: 80%;
}

#config div {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem;
}

#config button {
    /* padding: .0rem .2rem; */
    width: 7rem;
    border: 0;
    border-radius: 8px;
    background-color: var(--cor-botao);
    cursor: pointer;
    font-size: large;
}

#config select {
    width: 7rem;
    font-size: medium;
}