:root {
    --cor-sections-quiz: rgba(77, 77, 77, 0.851);
}

main {
    display: grid;
    width: 99vw;
    height: 100vh;
    background-image: url("../imgs/mesa.png"), url("../imgs/personagem-2.png"), url("../imgs/fundo-porao.jpeg");
    background-repeat: repeat, no-repeat, no-repeat;
    transition: 0.3s ease all;
    background-position: bottom, center, center;
    background-size: contain, 40vh, cover;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    grid-template-rows: 0.2fr .6fr 0.6fr 0.2fr;
    gap: 1%;
    grid-template-areas:
        "time time time"
        ". . ."
        ". quiz ."
        "vida quiz .";
}

#time { grid-area: time; }
#vida { grid-area: vida; }
#quiz { grid-area: quiz; }

main section {
    display: block;
}

#quiz {
    background-color: var(--cor-sections-quiz);
    padding: 1rem;
    font-size: 2vh;
    margin: 1rem;
}

#quiz ol {
    list-style: upper-alpha;
    padding: 0 10%;
}

#quiz ol li {
    text-align: justify;
    margin: 1rem;
    padding: 1rem;
    border-radius: .3rem;
}

#quiz ol li:hover {
    background-color: var(--cor-botao-ativo);
}

#time, #vida {
    display: flex;
    align-items: center;
    justify-content: center;
}

#time div {
    height: 10%;
    width: 95%;
    background-color: rgb(105, 102, 102);
    border-radius: 2rem;
    display: flex;
    --time: 90;
}

#time div::before {
    border-radius: 2rem;
    content: "";
    width: calc(var(--time) * 1%);
    background-color: rgb(0, 255, 21);
}

#vida div {
    height: 10%;
    width: 60%;
    background-color: rgb(105, 102, 102);
    border-radius: 2rem;
    display: flex;
    --vida: 100;
}

#vida div::before {
    border-radius: 2rem;
    content: "";
    width: calc(var(--vida) * 1%);
    background-color: red;
}

#final {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#final article {
    height: auto;
    width: 50vw;
    background-color: var(--cor-fundo-caixas);
    border-radius: 1rem;
    font-size: large;
    font-family: var(--font-textos);
    padding: 2vh;
}

#perdeu h1 {
    color: red;
}

#venceu h1 {
    color: green;
}

#final p {
    text-align: justify;
}