@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Indie+Flower&family=Lobster&display=swap');
:root {
    --cor-fundo: #191919;
    --cor-fundo-caixas: rgb(197, 162, 119);
    --cor-botao: rgb(185, 93, 40);
    --cor-botao-ativo: #4e4e4e;
    --cor-texto-especial: rgb(94, 62, 169);
    --font-textos:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-color: var(--cor-fundo);
}

.invisivel {
    display: none !important;
}

section {
    border-radius: 1vw;
    /* background-color: var(--cor-fundo-caixas); */
    background-color: transparent;
    text-align: center;
}

h1, h2 {
    font-family: 'Caveat', cursive;
}

h3, p, a, button, li {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.errado {
    border: 2px solid red;
}

#falas {
    display: grid; 
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.7fr 1.6fr 0.7fr; 
    grid-template-rows: 1fr 1.1fr 0.9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". falas ."; 
}

#falas div {
    max-height: 22vh;
    min-height: 17vh;
    grid-area: falas;
    background-color: var(--cor-fundo-caixas);
    border-radius: 1.5rem;
    font-size: large;
    font-family: var(--font-textos);
    position: relative;
}

#falas button {
    position: absolute;
    right: 2rem;
    padding: .1rem .4rem;
    bottom: 1.5rem;
    border: 0;
    border-radius: 8px;
    background-color: var(--cor-botao);
    cursor: pointer;
}

#falas p {
    margin: 2rem;
    text-align: justify;
}
